/* PHASE 1: Header */

body {
  /* Write your css here... */
  font-family: sans-serif;
  font-size: 24px, 16px, 14px;
  font-weight: 400, 700;
  background: #eee;
}

.header {
  background: #f00;
  border-bottom: 1px solid lightgray;
  color: white;
}

.header a {
  padding: 10px;
  display: block;
}

.header-nav {
  width: 900px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin: auto;
}
