/* PHASE 4: Footer */

.footer {
  color: lightgray;
  width: 902px;
  margin: auto;
  border: 1px solid lightgray;
  background: white;
}

.footer-copy {
  float: left;
  padding: 25px;
}

.footer-links {
  float: right;
  padding: 25px;
}

.footer-links > li {
  display: inline;
}

.footer a {
}

.footer a:hover {
  color: black;
}
